@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #999;
  
}
/* main {
  position: relative;
  background-image: url('./assets/home-bestChef/chef.png');
  background-color: #121619;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./assets/home-bestChef/chef.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.4;
  }
} */
:root {
  --global-max-width: 1350px;
  --global-orange-color: #fd9d3e;
  --template-font: "PT Sans Narrow", sans-serif;
  --template-yellow: #fd9d3e;
  --white: #fff;
  --black: #000;
  --bs-gutter-y: 0;
  --bs-gutter-x: 24px;
  --slider-min-height: 700px;
  --blog-thin-border-color: #dddddd;
  --blue: #33ccff;
  --purple: #ff0066;
  --global-gold: #b78940;
}
