@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Dosis', sans-serif;
  user-select: none;
}
html {
  scroll-behavior: smooth;
}
:root {
  --global-max-width: 1400px;
  --template-yellow: #fd9d3e;
  --white: #fff;
  --black: #000;
  --bs-gutter-y: 0;
  --bs-gutter-x: 24px;
  --slider-min-height: 700px;
  --blog-thin-border-color: #dddddd;
  --blue: #33ccff;
  --purple: #ff0066;
  --global-gold: #b78940;
}
