@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@1,200&family=PT+Sans+Narrow:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400&family=EB+Garamond:wght@500&family=Inter:wght@300&family=Open+Sans:ital,wght@1,300&family=PT+Sans+Narrow&family=Pacifico&family=Poppins:wght@200&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400&family=EB+Garamond:wght@500&family=Inter:wght@300&family=Open+Sans:ital,wght@1,300&family=PT+Sans+Narrow:wght@400;700&family=Pacifico&family=Poppins:wght@200&family=Roboto&display=swap");
.special__products {
  > .container {
    padding: 100px 60px;
  }
}
.products {
  text-align: center;
  &_heading {
    font-size: 25px;
    font-family: "Pacifico", cursive;
    color: var(--template-yellow);
    letter-spacing: 2px;
  }
  &__items {
    display: flex;
    justify-content: center;
    gap: 56px;
    margin-top: 20px;
    cursor: pointer;
    &__item {
      > img {
        height: 350px;
        width: 350px;
        border-radius: 50%;
        cursor: pointer;
        transition: all 400ms ease 0s;
      }
      > h4 {
        margin: 50px 0 30px;
      }
    }
  }
  &__button {
    padding: 15px;
    border-radius: 50px;
    width: 135px;
    background-color: var(--template-yellow);
    border: 1px solid var(--template-yellow);
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
  }
}

.products__items__item img:hover {
  scale: 1.2;
}

.products__button:hover {
  background-color: white;
  border: 1px solid var(--template-yellow);
  color: var(--template-yellow);
  transition-duration: 0.4s;
}

.pruducts__items__item h4:hover {
  color: var(--template-yellow);
  transition-duration: 0.4s;
}
